@import "variables";

:export {
    primary: $primary;
    primaryContent: $primary-content;
    secondary: $secondary;
    secondaryContent: $secondary-content;
    accent: $accent;
    accentContent: $accent-content;
    neutral: $neutral;
    neutralContent: $neutral-content;
    base100: $base-100;
    base200: $base-200;
    base300: $base-300;
    baseContent: $base-content;
    info: $info;
    infoContent: $info-content;
    success: $success;
    successContent: $success-content;
    warning: $warning;
    warningContent: $warning-content;
    error: $error;
    errorContent: $error-content;
}