@import "variables";

:export {
    primary: $primary;
    primaryContent: $primary-content;
    secondary: $secondary;
    secondaryContent: $secondary-content;
    accent: $accent;
    accentContent: $accent-content;
    neutral: $neutral;
    neutralContent: $neutral-content;
    base100: $base-100;
    base200: $base-200;
    base300: $base-300;
    baseContent: $base-content;
    info: $info;
    infoContent: $info-content;
    success: $success;
    successContent: $success-content;
    warning: $warning;
    warningContent: $warning-content;
    error: $error;
    errorContent: $error-content;
    primaryLight: $primary-light;
    primaryLightContent: $primary-light-content;
    secondaryLight: $secondary-light;
    secondaryLightContent: $secondary-light-content;
    accentLight: $accent-light;
    accentLightContent: $accent-light-content;
    neutralLight: $neutral-light;
    neutralLightContent: $neutral-light-content;
    base100Light: $base-100-light;
    base200Light: $base-200-light;
    base300Light: $base-300-light;
    baseLightContent: $base-light-content;
    infoLight: $info-light;
    infoLightContent: $info-light-content;
    successLight: $success-light;
    successLightContent: $success-light-content;
    warningLight: $warning-light;
    warningLightContent: $warning-light-content;
    errorLight: $error-light;
    errorLightContent: $error-light-content;
}